body {
  font-family: "Muli";
  background-color: #FFFFFF;
}

p {
  font-family: "Muli";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Serif";
}

nav {
  height: 80px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px !important;
  background-color: #FFFFFF;
}

nav .search {
  padding-top: 20px;
  width: 400px;
}

nav .search .inputs {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px !important;
}

nav .search .inputs span {
  background: #FFFFFF;
  border: none;
}

nav .search .inputs input {
  height: 45px;
  border: none;
  width: 400px;
}

nav a {
  color: #111111;
}

nav a:hover {
  color: #111111;
}

nav ul li {
  padding-left: 10px;
}

nav ul li a {
  color: #111111;
}

nav ul li a:hover {
  color: #111111;
}

nav ul li .btn-register {
  border: 0.5px solid #FFFFFF;
  border-radius: 4px;
}

#list {
  position: relative;
  top: 110px;
}

